{% extends "admin_layout.html" %}
{% block admin_content %}

<div class="row justify-content-center">
  <div class="col-lg-8">

    <div class="card shadow-lg mt-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
          <h4 class="text-white text-capitalize ps-3">
            <i class="material-icons">edit</i> 编辑图书
          </h4>
        </div>
      </div>

      <div class="card-body">

        <form method="post">

          <div class="input-group input-group-static mb-4">
            <label>书名</label>
            <input class="form-control" name="title" value="{{ book[1] }}" required>
          </div>

          <div class="input-group input-group-static mb-4">
            <label>作者</label>
            <input class="form-control" name="author" value="{{ book[2] }}">
          </div>

          <div class="input-group input-group-static mb-4">
            <label>年份</label>
            <input class="form-control" name="year" value="{{ book[3] }}">
          </div>

          <div class="input-group input-group-static mb-4">
            <label>出版社</label>
            <input class="form-control" name="publisher" value="{{ book[4] }}">
          </div>

          <div class="d-flex justify-content-between">
            <a href="/admin/books" class="btn btn-outline-secondary d-inline-flex align-items-center">
              <i class="material-icons me-1" style="font-size: 18px;">arrow_back</i>返回
            </a>
            <button type="submit" class="btn btn-success d-inline-flex align-items-center">
              <i class="material-icons me-1" style="font-size: 18px;">save</i>保存
            </button>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>

{% endblock %}
