{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h3 class="mb-3">用户登录</h3>
        <form method="post">
            <div class="mb-3">
                <label>User ID</label>
                <input type="number" name="user_id" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>密码</label>
                <input type="password" name="password" class="form-control" required placeholder="默认是 123456">
            </div>
            <button type="submit" class="btn btn-success w-100">登录</button>
        </form>
    </div>
</div>
{% endblock %}